evaluate==0.4.6
transformers==5.0.0
accelerate==1.12.0
safetensors==0.7.0
torch==2.9.0
sentencepiece==0.2.1
langchain==1.2.7
langchain-core==1.2.7
langchain-community==0.4.1
bert_score==0.3.13
sacrebleu==2.6.0
sacremoses==0.1.1
pandas
scikit-learn
spacy
python-dotenv
huggingface-hub
numpy
